<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Rent </title>
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <!-- Navigation bar -->
     <header>
         <div class="nav container">
             <!-- logo -->
             <a href="/" class="logo"><i class='bx bxs-home-heart'></i>ভালো-বাসা</a>

            <!-- menu icon -->
            <input type="checkbox" name="" id="menu">
            <label for="menu" ><i class='bx bx-menu' id="menu-icon"></i></label>

            <!-- Navigation Bar listing -->
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="/tolet">to-let</a></li>
                <li><a href="/appartments">Apartments</a></li>

             </ul>
             <!-- dashboard page adding -->
             <a href="/dashboard" class="btn">Dashboard</a>


             <!-- login button adding -->
             <a href="/login" class="btn">Log In</a>

         </div>

     </header>
    
     <!-- About Section -->
     <section class="About container" id="about">
         <div class="About-img">
             <img src="Image/Aboutus.jpg" alt="">
         </div>
         <div class="About-text">
             <span>Our Services</span>
             <h2>We Provide The Best <br>Apartment For You !</h2>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, voluptatum error soluta obcaecati suscipit cupiditate?</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus saepe aliquid, odio corrupti distinctio eveniet?</p>

             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, unde.</p>
             
        
            </div>
     </section>
     <section class="about1 container" id="about">
         <div class="about1-text">
             <span>How do we work!</span>
             <h2>We help you to <br>manage your property!</h2>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, voluptatum error soluta obcaecati suscipit cupiditate?</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus saepe aliquid, odio corrupti distinctio eveniet?</p>
             
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, unde.</p>
             </div>
             
            <div class="about1-img">
                <img src="Image/Aboutus.jpg" alt="">
            </div>
    </section>
     <section class="about1 container" id="about">
         <div class="about2-img">
             <img src="Image/Aboutus.jpg" alt="">
         </div>
         <div class="about1-text">
             <span>Our policy</span>
             <h2>We help you to <br>manage your property!</h2>
             <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur, voluptatum error soluta obcaecati suscipit cupiditate?</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus saepe aliquid, odio corrupti distinctio eveniet?</p>
             
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab, unde.</p>
             </div>
             
        </section>

     <!-- footer section  -->
     <section class="footer">
         <div class="footer-container container">
             <h2>ভালো-বাসা</h2>
             <div class="footer-box">
                 <h3>Quick links</h3>
                 <a href="#">Filter</a>
                 <a href="#">Map</a>
                 <a href="#">Top-chart</a>
                
             </div>
             <div class="footer-box">
                <h3>Contact</h3>
                <a href="#">+880 1623919385</a>
                <a href="#">1814351072@uits.edu.bd</a>
                <a href="#">1814351075@uits.edu.bd</a>
               
                <div class="social">
                    <!-- <h3>Social</h3> -->
                    <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
                   
                </div>
            </div>
         </div>
     </section>
     <div class="copyright">
         <p>&#169;Rass corp. All Right Reserved</p>
     </div>


</body>
</html>