<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment Rent </title>
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <!-- Navigation bar -->
     <header>
         <div class="nav container">
             <!-- logo -->
             <a href="/" class="logo"><i class='bx bxs-home-heart'></i>ভালো-বাসা</a>

            <!-- menu icon -->
            <input type="checkbox" name="" id="menu">
            <label for="menu" ><i class='bx bx-menu' id="menu-icon"></i></label>

            <!-- Navigation Bar listing -->
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/aboutus">About Us</a></li>
                <li><a href="/tolet">to-let</a></li>
                <li><a href="#apartments">Apartments</a></li>

             </ul>
             <!-- dashboard page adding -->
             <a href="/dashboard" class="btn">Dashboard</a>


             <!-- login button adding -->
             <a href="/login" class="btn">Log In</a>

         </div>

     </header>

     <!-- Apartment section  -->
     <section class="apartments container" id="apartments">
         <div class="heading">
             <span>Appartments</span>
             <h2>Recently Posted To-Lets are here </h2>
             <p>Use Filter to find  apartments of Your Choice:</p>
         </div>
         <div class="apartment-container container">
             <!-- box1 -->
             <div class="box">
                 <img src="Image/p1.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box2 -->
             <div class="box">
                 <img src="Image/p2.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box3 -->
             <div class="box">
                 <img src="Image/p3.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box4 -->
             <div class="box">
                 <img src="Image/p4.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box4 -->
             <div class="box">
                 <img src="Image/p4.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box4 -->
             <div class="box">
                 <img src="Image/p4.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box4 -->
             <div class="box">
                 <img src="Image/p4.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box5 -->
             <div class="box">
                 <img src="Image/p5.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box5 -->
             <div class="box">
                 <img src="Image/p5.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box5 -->
             <div class="box">
                 <img src="Image/p5.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box6 -->
             <div class="box">
                 <img src="Image/p6.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
             <!-- box6 -->
             <div class="box">
                 <img src="Image/p6.jpg" alt="">
                 <h3>20000 Tk</h3>                 
                 <div class="content">
                     <div class="text">
                         <h3>Monsur Villa</h3>
                         <p>Gulshan,Dhaka</p>                         
                     </div>
                     <div class="icon">
                        <i class='bx bx-bed' ><span>4</span></i>
                        <i class='bx bx-bath' ><span>3</span></i>
                     </div>

                 </div>
             </div>
           
             </div>
         </div>


       
     </section>

    

     <!-- footer section  -->
     <section class="footer">
         <div class="footer-container container">
             <h2>ভালো-বাসা</h2>
             <div class="footer-box">
                 <h3>Quick links</h3>
                 <a href="#">Filter</a>
                 <a href="#">Map</a>
                 <a href="#">Top-chart</a>
                
             </div>
             <div class="footer-box">
                <h3>Contact</h3>
                <a href="#">+880 1623919385</a>
                <a href="#">1814351072@uits.edu.bd</a>
                <a href="#">1814351075@uits.edu.bd</a>
               
                <div class="social">
                    <!-- <h3>Social</h3> -->
                    <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
                   
                </div>
            </div>
         </div>
     </section>
     <div class="copyright">
         <p>&#169;Rass corp. All Right Reserved</p>
     </div>


</body>
</html>