<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up </title>
    <link rel="stylesheet" href="css/Style.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>

    <!-- Navigation bar -->
     <header>
         <div class="nav container">
             <!-- logo -->
             <a href="/" class="logo"><i class='bx bxs-home-heart'></i>ভালো-বাসা</a>

             <!-- login button adding -->
             <a href="/login" class="btn">Log In</a>
                
         </div>

     </header>

     <!-- Login page  -->
     <div class="login container">
         <div class="login-container">
             <h2>Welcome, Let's get started!</h2>
             <p>Already have an account? <a href="/login">Log In</a> </p>
             <form action="/signup" method="post" >
                 <span>Enter Full Name</span>
                 <input type="text" name="name" id="" placeholder="Your name" required>
                 <span>Enter your Email address</span>
                 <input type="email" name="email" id=""placeholder="yourmail@gmail.com" required >
                 <span>Enter Your Phone Number</span>
                 <input type="number" name="contact" id="" placeholder="Your Phone number" required>
                 <span>Enter your password</span>
                 <input type="password" name="password" id="" placeholder="At least 8 characters long" required >
                 <span>Confirm  password</span>
                 <input type="password" name="rePassword" id="" placeholder="At least 8 characters long" required >
                 <!-- <span>Signing Up as:</span>
                 
            
                 <select name="Type" id="type">
                 <option value="Owner">Owner</option>
                 <option value="Renter">Renter</option> -->


                 <input type="submit" value="Sign Up" class="button">
                 
             </form>
             <a href="/login" class="btn">Log In to an existing account</a>
         </div>
         <!-- Log In image  -->
         <div class="login-image">
             <img src="Image/Login.png" alt="">
         </div>
     </div>
  

     <!-- footer section  -->
     <section class="footer">
         <div class="footer-container container">
             <h2>ভালো-বাসা</h2>
             <div class="footer-box">
                 <h3>Quick links</h3>
                 <a href="#">Filter</a>
                 <a href="#">Map</a>
                 <a href="#">Top-chart</a>
                
             </div>
             <div class="footer-box">
                <h3>Contact</h3>
                <a href="#">+880 1623919385</a>
                <a href="#">1814351072@uits.edu.bd</a>
                <a href="#">1814351075@uits.edu.bd</a>
               
                <div class="social">
                    <!-- <h3>Social</h3> -->
                    <a href="#"><i class='bx bxl-facebook-circle'></i></a>
                    <a href="#"><i class='bx bxl-twitter' ></i></a>
                    <a href="#"><i class='bx bxl-instagram-alt' ></i></a>
                   
                </div>
            </div>
         </div>
     </section>
     <div class="copyright">
         <p>&#169;Rass corp. All Right Reserved</p>
     </div>


</body>
</html>